<html xmlns:th="http://www.thymeleaf.org">

<body>
    <h1>yeah!!!</h1>

    <h3>Autorización con una app ya aprobada</h3>
    <form action="/oauth/authorize" method="post">
        <!--input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/-->
        <input type="hidden" name="response_type" value="token"/>
        <input type="hidden" name="client_id" value="adminapp"/>
        <input type="hidden" name="scope" value="role_admin"/>
        <input type="hidden" name="state" value="23412341234sadf"/>
        <input type="hidden" name="redirect_uri" value="http://google.com"/>

        <input type="submit"
               name="login-submit"
               id="login-submit"
               class="form-control btn btn-info"
               value="Log In">
    </form>

    <h3>Autorización con una app no aprobada</h3>
    <form action="/oauth/authorize" method="post">
        <!--input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/-->
        <input type="hidden" name="response_type" value="token"/>
        <input type="hidden" name="client_id" value="adminauth"/>
        <input type="hidden" name="scope" value="role_admin"/>
        <input type="hidden" name="state" value="23412341234sadf"/>
        <input type="hidden" name="redirect_uri" value="http://google.com"/>

        <input type="submit"
               name="login-submit"
               id="login-submit"
               class="form-control btn btn-info"
               value="Log In">
    </form>
</body>
