<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
    <h1>LoggedIn</h1>

    <div>
        <span sec:authorize="isAuthenticated()" style="display: inline-block;">
            <a th:href="@{/logout}">Sign Out</a>
        </span>
    </div>

    <h3>Authorize app</h3>
    <form action="/oauth/authorize" method="post">
        <!--input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/-->
        <div class="form-group">
            <label for="response_type">Response Type </label>
            <input class="form-control" id="response_type" name="response_type" type="text" value="token"/>
        </div>

        <div class="form-group">
            <label for="client_id">ClientId </label>
            <input class="form-control" id="client_id" name="client_id" type="text" value="adminapp"/>
        </div>

        <div class="form-group">
            <label for="scope">Scope </label>
            <input class="form-control" id="scope" name="scope" type="text" value="role_admin"/>
        </div>

        <div class="form-group">
            <label for="redirect_uri">Redirect URI </label>
            <input class="form-control" id="redirect_uri" name="redirect_uri" type="text" value="http://google.com"/>
        </div>

        <div class="form-group">
            <label for="state">State </label>
            <input class="form-control" id="state" name="state" type="text" value="RandomNro-123123"/>
        </div>

        <input type="submit" value="Log In">
    </form>
</body>
