server:
  port: 8080

spring:
  application:
    name: auth
  profiles:
    active: dev

---

spring:
  profiles: dev

  datasource:
    url: jdbc:mysql://${db.host:localhost}:${db.port:3306}/${db.name:auth_service}?useSSL=false
    username: ${db.uid:root}
    password: ${db.pwd:password123}
    driver-class-name: com.mysql.jdbc.Driver
    initialization-mode: never
    platform: mysql
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
      ddl-auto: none

check-user-scopes: false
